.DS_Store
__pycache__/*
venv/

# Large files
*.csv
*.safetensors
*.onnx
*.onnx.data
*.dylib
!fortunes_corpus.txt

# Rails
omikuji_app/config/master.key
omikuji_app/log/*
omikuji_app/tmp/*
omikuji_app/public/assets